.demo-grid {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}

.header {
    background-color: rgb(54, 154, 216);
}

.sidebar {
    background-color: orange;
}

.main {
    background-color: cadetblue;
}

.footer {
    background-color:  rgb(54, 154, 216);
}

.demo-grid aside {
    grid-row: 3;
}